name: Daily Test

on:
  push:
  schedule:
    - cron: '16 16 * * *'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - 'ubuntu-18.04'
          - 'macos-latest'
          - 'windows-latest'
        pi_version:
          - 'latest'
          - '1.0.3'
    steps:
      - uses: actions/checkout@v2

      - name: Setup pi
        uses: peaceiris/actions-pixela@v2
        with:
          pi_version: ${{ matrix.pi-version }}

      - name: Run pi version
        run: echo "::set-output name=pi_version::$(pi version)"
        id: pi_version

      - name: '${{ steps.pi_version.outputs.pi_version }}'
        run: echo '${{ steps.pi_version.outputs.pi_version }}'
